<ol class="breadcrumb">
			<li><%= link_to "Inicio", root_path %></li>
			<li class="active">Solicitar Servicios</li>
</ol>
<article class="col-xs-12 maincontent">
<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
					<div class="panel panel-default">
						<div class="panel-body">
							<h3 class="thin text-center">Solicitud de Servicios</h3>
							<hr>

<%= simple_form_for @servicio, :html => { :class => 'form-horizontal' } do |f| %>
<div class="row">
  <div class=" col-sm-8">  
    <div class=" form-group"> 
      <%= f.input :fecha %>
      <%= error_span(@servicio[:fecha]) %></div>
    </div>
  </div>
  <div class="col-sm-4">  
    <div class="form-group">
      <%= f.input :pedidoN, class: "form-control" %><br />
      <%= error_span(@servicio[:pedidoN]) %>
    </div>
  </div>
</div>
              
<div class="row">
  <div class="col-md-6">  <%= f.input :nombre %>
    <%= error_span(@servicio[:nombre]) %></div><br />
  <div class="col-md-6">  <%= f.input :identificacion %>
    <%= error_span(@servicio[:identificacion]) %></div><br />
  
</div>
<div class="row"><br />
  <div class="col-sm-4">  
    <div class="form-group">
      <%= f.input :email, class: "form-control" %>
      <%= error_span(@servicio[:email]) %>
    </div>
  </div>
  <div class="col-sm-4"> 
    <div class="form-group">
      <%= f.input :direccion, class: "form-control" %>
      <%= error_span(@servicio[:direccion]) %>
    </div>
  </div>
  <div class=" col-sm-4">  
    <div class="form-group">
      <%= f.input :telefono, class: "form-control" %>
      <%= error_span(@servicio[:telefono]) %>
    </div>
  </div>
</div>
<div class="row"><br />
  <div class='col-sm-6'>
    <%= f.label :tipo_de_Servicio %>
    <%= f.collection_select :tipoServicio_id, TipoServicio.all, :id, :nombre, class: "form-group", prompt: "Seleccione un servicio" %>
  </div>
<div class='col-sm-6'>
  <%= f.label :disponibilidad %>
     <div class='form-group'>
       <select class="form-control" required="true">
         <option value="de" selected="selected">Seleccione una Opción</option>
         <option value="en">Entre 7am y 9am</option>
         <option value="en">Entre 9am y 12m</option>
         <option value="en">Entre 12m y 5pm</option>
         <option value="en">Despues de las 5pm</option>
       </select>
     </div>
  
  <%= error_span(@servicio[:disponibilidad]) %></div> 

  <%= f.input :descripcion %>
  <%= error_span(@servicio[:descripcion]) %></div><br />

  <%= f.button :submit, :class => 'btn-primary' %>
  <%= link_to t('.cancelar', :default => t("helpers.links.cancelar")),
                root_path, :class => 'btn btn-default' %><!-- servicios_path -->
<% end %>
</article>
</div>
</div>
</div>