<p id="notice"><%= notice %></p>

<p>
  <strong>Fechaingreso:</strong>
  <%= @informetecnico.fechaingreso %>
</p>

<p>
  <strong>Hora:</strong>
  <%= @informetecnico.hora %>
</p>

<p>
  <strong>Cedulanit:</strong>
  <%= @informetecnico.cedulanit %>
</p>

<p>
  <strong>Nombreempresa:</strong>
  <%= @informetecnico.nombreempresa %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @informetecnico.telefono %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @informetecnico.direccion %>
</p>

<p>
  <strong>Nombretecnico:</strong>
  <%= @informetecnico.nombretecnico %>
</p>

<p>
  <strong>Garantia:</strong>
  <%= @informetecnico.garantia %>
</p>

<p>
  <strong>Servicio:</strong>
  <%= @informetecnico.servicio %>
</p>

<p>
  <strong>Facturable:</strong>
  <%= @informetecnico.facturable %>
</p>

<p>
  <strong>Valor:</strong>
  <%= @informetecnico.valor %>
</p>

<p>
  <strong>Dispositivo:</strong>
  <%= @informetecnico.dispositivo %>
</p>

<p>
  <strong>Marcamodelo:</strong>
  <%= @informetecnico.marcamodelo %>
</p>

<p>
  <strong>Serialid:</strong>
  <%= @informetecnico.serialid %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @informetecnico.descripcion %>
</p>

<p>
  <strong>Fechasalida:</strong>
  <%= @informetecnico.fechasalida %>
</p>

<p>
  <strong>Horasalida:</strong>
  <%= @informetecnico.horasalida %>
</p>

<p>
  <strong>Nombreusuario:</strong>
  <%= @informetecnico.nombreusuario %>
</p>

<p>
  <strong>Problema:</strong>
  <%= @informetecnico.problema %>
</p>

<%= link_to 'Edit', edit_informetecnico_path(@informetecnico) %> |
<%= link_to 'Back', informetecnicos_path %>
